<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>code.freddy</string>
	<key>connections</key>
	<dict>
		<key>0C833322-5F0E-44B1-B64C-EB94CEBE1C06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E0AC721-D1AD-4231-9E34-0A2EC0D814F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17A84546-E993-4FA7-AB2D-D4EDD16D6EDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C833322-5F0E-44B1-B64C-EB94CEBE1C06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>214090EE-62A0-4956-BA22-D8FB1529AE1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17A84546-E993-4FA7-AB2D-D4EDD16D6EDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2612E0A4-3532-4E59-BF36-3EED470493F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B2520DA-B04A-4E65-B530-0EA195272B83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A9BAF9B-C8E9-4256-B604-EDBA430410CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADD4FD10-F124-4240-AE64-E0CDC3D640F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3060E77C-2F49-4519-94B6-B5FC4CE4AA8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2612E0A4-3532-4E59-BF36-3EED470493F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65245233-C256-4599-B804-09EC513B0A98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D96AC72-ED12-4319-9AA8-BF4F0C264379</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B2520DA-B04A-4E65-B530-0EA195272B83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0547C20-9322-418C-A2A9-9E826974DBED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BB26559-D5D5-46C6-A853-1FD6FA51AF83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3060E77C-2F49-4519-94B6-B5FC4CE4AA8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>ADD4FD10-F124-4240-AE64-E0CDC3D640F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2DC1621-0FEC-472C-8680-6109085589CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE605AE5-3747-4B9B-AF18-1FE53C6BD4C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>214090EE-62A0-4956-BA22-D8FB1529AE1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2DC1621-0FEC-472C-8680-6109085589CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65245233-C256-4599-B804-09EC513B0A98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0547C20-9322-418C-A2A9-9E826974DBED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F706F127-F1D9-401A-8B67-B0B456EC683A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F706F127-F1D9-401A-8B67-B0B456EC683A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6B7509E-F130-4628-A330-71EBFF532742</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>freddy</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uiget</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>uiget</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7BB26559-D5D5-46C6-A853-1FD6FA51AF83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F6B7509E-F130-4628-A330-71EBFF532742</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"get-label","arg":"- (UILabel *)&lt;#code#&gt; {\n    if (!_&lt;#code#&gt;) {\n        _&lt;#code#&gt; = [[UILabel alloc] init];\n        _&lt;#code#&gt;.text = @\"\";\n        _&lt;#code#&gt;.font = [UIFont systemFontOfSize:14];\n        _&lt;#code#&gt;.textColor = UIColorHexAlpha(0x000000, 1.0);\n    }\n    return _&lt;#code#&gt;;\n}"},{"title":"get-imageView","arg":"- (UIImageView *)&lt;#code#&gt; {\n    if (!_&lt;#code#&gt;) {\n        _&lt;#code#&gt; = [[UIImageView alloc] init];\n    }\n    return _&lt;#code#&gt;;\n}"},{"title":"get-button","arg":"button"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>code template</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>2612E0A4-3532-4E59-BF36-3EED470493F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F706F127-F1D9-401A-8B67-B0B456EC683A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3060E77C-2F49-4519-94B6-B5FC4CE4AA8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>code</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7B2520DA-B04A-4E65-B530-0EA195272B83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>&lt;#code#&gt;</string>
				<key>replacestring</key>
				<string>{var:name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F0547C20-9322-418C-A2A9-9E826974DBED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2E0AC721-D1AD-4231-9E34-0A2EC0D814F3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>code=`echo -e "$1" | grep --no-filename -o -E ').* *([a-zA-Z0-9_]+) *;' | sed -E 's/\) *([a-zA-Z0-9_]+) *((&lt;[a-zA-Z0-9_]+ * *\* *&gt;)? * \*?)? *([a-zA-Z0-9_]+) *;$/\4:(\1\2)\4/' | xargs`

echo -e "$code"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0C833322-5F0E-44B1-B64C-EB94CEBE1C06</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>method</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>method</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BE605AE5-3747-4B9B-AF18-1FE53C6BD4C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(UI)?Label</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>NSString</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>214090EE-62A0-4956-BA22-D8FB1529AE1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(UI)?ImageView</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>UIImage</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>17A84546-E993-4FA7-AB2D-D4EDD16D6EDC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>modelget</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>modelget</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2A9BAF9B-C8E9-4256-B604-EDBA430410CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>array=$(echo -n "$1" | grep --no-filename -o -E ').* *([a-zA-Z0-9_]+) *;')

type_name_array=()

for i in "${array[@]}"
do
    var_type_name=`echo "$i" | sed -E 's/\) *([a-zA-Z0-9_]+) *((&lt;[a-zA-Z0-9_]+ * *\* *&gt;)? * \*?)? *([a-zA-Z0-9_]+) *;$/\1\2:\4/'`
	#echo "$var_type_name"
	type_name_array+=("$var_type_name")
done

#echo -e "${type_name_array[*]}"

get_template=`cat model_get`


echo "" &gt; temp_model_get_content

	IFS=$'\n'
	for i in ${type_name_array[*]}
	do

		type=`echo "$i" | sed -E 's/(.*):[a-zA-Z0-9_]+$/\1/' | sed -E 's/\n//g'`
		name=`echo "$i" | sed -E 's/.*:([a-zA-Z0-9_]+$)/\1/' | sed -E 's/\n//g'`

		type_alloc=`echo "$i" | sed -E 's/(.*) *\* *:[a-zA-Z0-9_]+$/\1/' | sed -E 's/\n//g'`

		if [ "$i" == "$type_alloc" ]; then
			type_alloc=$type
		fi

		type_alloc=`echo $type_alloc | sed -E 's/ //g'`
	
		get_template_res=`echo -n "$get_template" | sed -E "s/type_alloc/$type_alloc/g"`
		get_template_res=`echo -n "$get_template_res" | sed -E "s/type/$type/g"`
		get_template_res=`echo -n "$get_template_res" | sed -E "s/name/$name/g"`

		echo -e "$get_template_res\n" &gt;&gt; temp_model_get_content
	
	done

	cat temp_model_get_content</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65245233-C256-4599-B804-09EC513B0A98</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2D96AC72-ED12-4319-9AA8-BF4F0C264379</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(UI)?Label</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>NSString</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>ADD4FD10-F124-4240-AE64-E0CDC3D640F9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(UI)?ImageView</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>UIImage</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>D2DC1621-0FEC-472C-8680-6109085589CE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C833322-5F0E-44B1-B64C-EB94CEBE1C06</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>17A84546-E993-4FA7-AB2D-D4EDD16D6EDC</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>214090EE-62A0-4956-BA22-D8FB1529AE1D</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>2612E0A4-3532-4E59-BF36-3EED470493F0</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>2A9BAF9B-C8E9-4256-B604-EDBA430410CA</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>2D96AC72-ED12-4319-9AA8-BF4F0C264379</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>2E0AC721-D1AD-4231-9E34-0A2EC0D814F3</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>3060E77C-2F49-4519-94B6-B5FC4CE4AA8D</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>65245233-C256-4599-B804-09EC513B0A98</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>7B2520DA-B04A-4E65-B530-0EA195272B83</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>7BB26559-D5D5-46C6-A853-1FD6FA51AF83</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>ADD4FD10-F124-4240-AE64-E0CDC3D640F9</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>BE605AE5-3747-4B9B-AF18-1FE53C6BD4C0</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>D2DC1621-0FEC-472C-8680-6109085589CE</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>F0547C20-9322-418C-A2A9-9E826974DBED</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>F6B7509E-F130-4628-A330-71EBFF532742</key>
		<dict>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>F706F127-F1D9-401A-8B67-B0B456EC683A</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
